<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyApp</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-filter.min.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    
</head>
<body>
<div ng-controller="mainController">
        <div ng-repeat="(key,value) in categoryArray | groupBy : 'gender' | orderBy: '-gender'">
              <strong>{{key}}</strong>
              <ul>
            <div ng-repeat="item in value">
                <div ng-repeat="pettype in item.pets | orderBy: 'name'">
                    <li ng-if='pettype.type=="Cat"'>{{pettype.name}}</li>
                </div>
            </div>   
              </ul>  
        </div>
</div>

</body>
</html>